## Sentimental Analysis On News Data

## Data Understanding

The data is from global news dataset which has three datasets i.e data.csv, dormains_location and traffic files that contains infomation from articles collected over the past few months.The dataset has been sourced from kaggle
data.csv has the following columns
- article_id: Unique article id  
- source_id
- source_name: Source name
- author: The author of the article
- title: The headline or title of the article.
- description: A description or snippet from the article. 
- url: The direct URL to the article. 
- url_to_image: The URL to a relevant image for the article.
- published_at: The date and time that the article was published, in UTC
- content: The unformatted content of the article, where available. This is truncated to 200 chars
- category: Search query used to fetch data
- article: Full content of that article
- title_sentiment: Sentiment of the title

dormain_location has this columns

- SourceCommonName: Common  Domain Name (bbc.co.uk, cnn.com)- 
location: Country short code (US, UK, CA)- 
Country: Country nam
traffic.csv contains
- GlobalRank: Rank of the domain globally- 
TldRank: Rank of the TLD:-  
TLD: TLD (Top-Level Doma c- ])
RefSubNets: The number of Referring Subnets found for this domain in the Fresh Ind- ex.
RefIPs: The number of Referring IPs found for this domain in the Fresh In- dex.
IDN_Domain: Internationalized Domain-  Name
IDN_TLD: Internationalized Domain Name Top-Level D- omain.
PrevGlobalRank: Previous Globa- l Rank.
PrevTldRank: Previous T- LD Rank.
PrevRefSubNets: Previous number of referrin
  g-  subnets.
PrevRefIPs: Previous number of referring IPse

#### Importing libraries

In [5]:
#checking the envrionment
import sys
sys.executable

'C:\\Users\\User\\anaconda3\\envs\\learn-env\\python.exe'

In [6]:
# importing relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# loading data in data.csv
data = pd.read_csv("data.csv")
data.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,full_content
0,89541,NaN,International Business Times,Paavan MATHEMA,UN Chief Urges World To 'Stop The Madness' Of ...,UN Secretary-General Antonio Guterres urged th...,https://www.ibtimes.com/un-chief-urges-world-s...,https://d.ibtimes.com/en/full/4496078/nepals-g...,2023-10-30 10:12:35.000000,UN Secretary-General Antonio Guterres urged th...,Nepal,UN Secretary-General Antonio Guterres urged th...
1,89542,NaN,Prtimes.jp,NaN,RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。,[株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...,https://prtimes.jp/main/html/rd/p/000000147.00...,https://prtimes.jp/i/32220/147/ogp/d32220-147-...,2023-10-06 04:40:02.000000,"RANDEBOO2023718()WEB2023 Autumn Winter \n""Nepa...",Nepal,NaN
2,89543,NaN,VOA News,webdesk@voanews.com (Agence France-Presse),UN Chief Urges World to 'Stop the Madness' of ...,UN Secretary-General Antonio Guterres urged th...,https://www.voanews.com/a/un-chief-urges-world...,https://gdb.voanews.com/01000000-0a00-0242-60f...,2023-10-30 10:53:30.000000,"Kathmandu, Nepal UN Secretary-General Antonio...",Nepal,NaN
3,89545,NaN,The Indian Express,Editorial,Sikkim warning: Hydroelectricity push must be ...,Ecologists caution against the adverse effects...,https://indianexpress.com/article/opinion/edit...,https://images.indianexpress.com/2023/10/edit-...,2023-10-06 01:20:24.000000,At least 14 persons lost their lives and more ...,Nepal,At least 14 persons lost their lives and more ...
4,89547,NaN,The Times of Israel,Jacob Magid,"200 foreigners, dual nationals cut down in Ham...","France lost 35 citizens, Thailand 33, US 31, U...",https://www.timesofisrael.com/200-foreigners-d...,https://static.timesofisrael.com/www/uploads/2...,2023-10-27 01:08:34.000000,"Scores of foreign citizens were killed, taken ...",Nepal,NaN

In [8]:
# load and preview data in traffic datset
traffic = pd.read_csv('traffic.csv')bn
traffic.head()

,GlobalRank,TldRank,Domain,TLD,RefSubNets,RefIPs,IDN_Domain,IDN_TLD,PrevGlobalRank,PrevTldRank,PrevRefSubNets,PrevRefIPs
0,1,1,google.com,com,471274,2151358,google.com,com,1,1,471248,2147402
1,2,2,facebook.com,com,465424,2250631,facebook.com,com,2,2,465297,2247135
2,3,3,youtube.com,com,420579,1852995,youtube.com,com,3,3,420483,1848940
3,4,4,twitter.com,com,404985,1757127,twitter.com,com,4,4,404998,1753939
4,5,5,instagram.com,com,364746,1598085,instagram.com,com,5,5,364618,1594892

In [10]:
# load and preview data in traffic datset
location = pd.read_csv('domains_location.csv')
location.head()

  SourceCommonName location    Country
0       00221.info       SG    Senegal
1        01net.com       FR     France
2         01net.it       IT      Italy
3      0223.com.ar       AR  Argentina
4     022china.com       CH      China

In [12]:
# checking the shape
print(data.shape)
print(traffic.shape)
print(location.shape)

(105375, 12)
(1000000, 12)
(37802, 3)

In [14]:
# checking info
print(data.info)

<bound method DataFrame.info of         article_id source_id                   source_name
0            89541       NaN  International Business Times  \
1            89542       NaN                    Prtimes.jp
2            89543       NaN                      VOA News
3            89545       NaN            The Indian Express
4            89547       NaN           The Times of Israel
...            ...       ...                           ...
105370      781108       NaN            The Indian Express
105371      781129       NaN                        Forbes
105372      781235       NaN                           NPR
105373      781240       NaN                        Forbes
105374      781308       NaN                        Forbes

                                                   author
0                                          Paavan MATHEMA  \
1                                                     NaN
2              webdesk@voanews.com (Agence France-Presse)
3                                               Editorial
4                                             Jacob Magid
...                                                   ...
105370                                                PTI
105371  Tom Sanderson, Senior Contributor, \n Tom Sand...
105372                                    Brigid McCarthy
105373  Gary Stern, Contributor, \n Gary Stern, Contri...
105374  Johan Hajji, Forbes Councils Member, \n Johan ...

                                                    title
0       UN Chief Urges World To 'Stop The Madness' Of ...  \
1                   RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
2       UN Chief Urges World to 'Stop the Madness' of ...
3       Sikkim warning: Hydroelectricity push must be ...
4       200 foreigners, dual nationals cut down in Ham...
...                                                   ...
105370  Have done no wrong, only did party work, says ...
105371  FC Barcelona Guarantees $77.6 Million Champion...
105372  Three hospitals ignored her gravely ill fiancé...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Tips For Investing In Short-Term Rentals In Dubai

                                              description
0       UN Secretary-General Antonio Guterres urged th...  \
1       [株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...
2       UN Secretary-General Antonio Guterres urged th...
3       Ecologists caution against the adverse effects...
4       France lost 35 citizens, Thailand 33, US 31, U...
...                                                   ...
105370  The High Court today allowed Shivakumar to wit...
105371  FC Barcelona have guaranteed at least $77.6 mi...
105372  Forty years ago, Sarah Lubarsky came home from...
105373  A farmstand in Long Island, Kerber’s Farms has...
105374  By exploring your options and keeping a few be...

                                                      url
0       https://www.ibtimes.com/un-chief-urges-world-s...  \
1       https://prtimes.jp/main/html/rd/p/000000147.00...
2       https://www.voanews.com/a/un-chief-urges-world...
3       https://indianexpress.com/article/opinion/edit...
4       https://www.timesofisrael.com/200-foreigners-d...
...                                                   ...
105370  https://indianexpress.com/article/cities/banga...
105371  https://www.forbes.com/sites/tomsanderson/2023...
105372  https://www.npr.org/2023/11/29/1215016001/heal...
105373  https://www.forbes.com/sites/garystern/2023/11...
105374  https://www.forbes.com/sites/forbesbusinesscou...

                                             url_to_image
0       https://d.ibtimes.com/en/full/4496078/nepals-g...  \
1       https://prtimes.jp/i/32220/147/ogp/d32220-147-...
2       https://gdb.voanews.com/01000000-0a00-0242-60f...
3       https://images.indianexpress.com/2023/10/edit-...
4       https://static.timesofisrael.com/www/uploads/2...
...                                                   ...
105370  https://images.indianexpress.com/2023/11/DK-Sh...
105371  https://imageio.forbes.com/specials-images/ima...
105372  https://media.npr.org/assets/img/2023/11/23/sa...
105373  https://imageio.forbes.com/specials-images/ima...
105374  https://imageio.forbes.com/specials-images/ima...

                      published_at
0       2023-10-30 10:12:35.000000  \
1       2023-10-06 04:40:02.000000
2       2023-10-30 10:53:30.000000
3       2023-10-06 01:20:24.000000
4       2023-10-27 01:08:34.000000
...                            ...
105370         2023-11-29 10:57:22
105371         2023-11-29 08:41:18
105372         2023-11-29 10:01:12
105373         2023-11-29 13:44:33
105374         2023-11-29 14:00:00

                                                  content category
0       UN Secretary-General Antonio Guterres urged th...    Nepal  \
1       RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepa...    Nepal
2       Kathmandu, Nepal  UN Secretary-General Antonio...    Nepal
3       At least 14 persons lost their lives and more ...    Nepal
4       Scores of foreign citizens were killed, taken ...    Nepal
...                                                   ...      ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...     Home
105371  FC Barcelona have guaranteed at least $767.6 m...     Home
105372  The photo from David and Sarah Lubarsky's wedd...     Home
105373  Kerbers Farm: Bringing Farm To Table To Manhat...     Home
105374  Cofounder at UpperKey. Passionate about proper...     Home

                                             full_content
0       UN Secretary-General Antonio Guterres urged th...
1                                                     NaN
2                                                     NaN
3       At least 14 persons lost their lives and more ...
4                                                     NaN
...                                                   ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...
105371  FC Barcelona have guaranteed at least $767.6 m...
105372  The photo from David and Sarah Lubarsky's wedd...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Cofounder at UpperKey. Passionate about proper...

[105375 rows x 12 columns]>

In [16]:
# checking info
print(traffic.info)
print(location.info)

<bound method DataFrame.info of         GlobalRank  TldRank                  Domain  TLD  RefSubNets   RefIPs
0                1        1              google.com  com      471274  2151358  \
1                2        2            facebook.com  com      465424  2250631
2                3        3             youtube.com  com      420579  1852995
3                4        4             twitter.com  com      404985  1757127
4                5        5           instagram.com  com      364746  1598085
...            ...      ...                     ...  ...         ...      ...
999995      999996   485324              kireie.com  com         222      280
999996      999997   485325             mt-lock.com  com         222      280
999997      999998   485326           pinkwater.com  com         222      280
999998      999999   485327          soderhomes.com  com         222      280
999999     1000000   485328  toyotamusicfactory.com  com         222      280

                    IDN_Domain IDN_TLD  PrevGlobalRank  PrevTldRank
0                   google.com     com               1            1  \
1                 facebook.com     com               2            2
2                  youtube.com     com               3            3
3                  twitter.com     com               4            4
4                instagram.com     com               5            5
...                        ...     ...             ...          ...
999995              kireie.com     com              -1           -1
999996             mt-lock.com     com          952633       461429
999997           pinkwater.com     com              -1           -1
999998          soderhomes.com     com              -1           -1
999999  toyotamusicfactory.com     com          973201       471949

        PrevRefSubNets  PrevRefIPs
0               471248     2147402
1               465297     2247135
2               420483     1848940
3               404998     1753939
4               364618     1594892
...                ...         ...
999995              -1          -1
999996             232         284
999997              -1          -1
999998              -1          -1
999999             228         284

[1000000 rows x 12 columns]>
<bound method DataFrame.info of       SourceCommonName location    Country
0           00221.info       SG    Senegal
1            01net.com       FR     France
2             01net.it       IT      Italy
3          0223.com.ar       AR  Argentina
4         022china.com       CH      China
...                ...      ...        ...
37797      zz.diena.lv       LG     Latvia
37798      zz.fjnet.cn       CH      China
37799        zz.mnw.cn       CH      China
37800           zz7.it       IT      Italy
37801    zznews.gov.cn       CH      China

[37802 rows x 3 columns]>